:root{
    --main-padding: 16.6%;
    --main-padding-y: 40px;
    --line-height: 1.6rem;
    --padding-mobile: 10px;
  }


.featured-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: var(--main-padding-y) 0%;
}

@media screen and (min-width: 680px) {
    .featured-container {
        grid-template-columns: repeat(3, 1fr);
        padding: var(--main-padding-y) var(--main-padding);

    }
}